# Many 2 Many Relation

## Student

| id(PK) | name          |
| ------ | ------------- |
| INT    | Charfield(20) |

## Lecture

| id(PK) | name          |
| ------ | ------------- |
| INT    | Charfiled(20) |

## Enrolment

| id(PK) | lecture_id(FK) | student_id(FK) |
| ------ | -------------- | -------------- |
| INT    | INT            | INT            |

In [2]:
Student

mton.models.Student

In [3]:
Student.objects.all().delete()

(9, {'mton.Enrolment': 6, 'mton.Student': 3})

In [4]:
Student.objects.all()

In [5]:
Lecture.objects.all().delete()

(3, {'mton.Enrolment': 0, 'mton.Lecture': 3})

In [7]:
Enrolment.objects.all().delete()

(0, {'mton.Enrolment': 0})

In [1]:
# Student.objects.create(name = "이상주")
# Student.objects.create(name = "권성령")
# Student.objects.create(name = "장재영")

In [2]:
# Lecture.objects.create(name = "장고")
# Lecture.objects.create(name = "DB")
# Lecture.objects.create(name = "알고리즘")

In [5]:
Student.objects.count()

3

In [14]:
Enrolment.objects.create(student_id=1, lecture_id=1)

In [3]:
# Enrolment.objects.create(student_id=2, lecture_id=2)
# Enrolment.objects.create(student_id=2, lecture_id=3)
# Enrolment.objects.create(student_id=2, lecture_id=1)
# Enrolment.objects.create(student_id=3, lecture_id=1)
# Enrolment.objects.create(student_id=3, lecture_id=2)

In [11]:
이상주 = Student.objects.get(name="이상주")

In [17]:
이상주.enrolment_set.all()

In [18]:
권성령 = Student.objects.get(name="권성령")

In [20]:
for enrolment in 권성령.enrolment_set.all():
    print(enrolment.lecture.name)

DB
알고리즘
장고

In [31]:
# student 중에서 듣는 수업이 여러개인 student를 리스트에 저장합니다.
many_class = []
for st in Student.objects.all():
    if len(st.enrolment_set.all()) > 1:
        many_class.append(st)
print(many_class)

[<Student: 2 : 권성령>, <Student: 3 : 장재영>]

In [36]:
# 위 학생들이 듣는 수업들중에서 수업명이 글자수가 4개(원래는 5개) 이상인 수업 출력
for std in many_class:
    for enrr in std.enrolment_set.all():
        if len(enrr.lecture.name) >= 4:
            print(std.name, ":", enrr.lecture.name)

print()

# 각각의 수업을 듣는 학생 목록을 출력해봅시다
for std in Student.objects.all():
    print(std.name, ":")
    for enr in std.enrolment_set.all():
        print(enr.lecture.name)
    print()

권성령 : 알고리즘

이상주 :
장고

권성령 :
DB
알고리즘
장고

장재영 :
장고
DB